<div class="content-item completed-item row">
  <div class="content-item-date span1">
    <a href="<%= completed_essential.url %>"><%= completed_essential.date %></a>
  </div>
  <div class="content-item-content span5">
    <h2><a href="<%= completed_essential.url %>"><%= completed_essential.name %></a></h2>
  </div>
  <div class="content-item-duration span2">
    <%= completed_essential.formatted_time_total %>
  </div>
</div>
