<% content_for(:head_content) do %>
  <% if @video.present? %>
  <script>
    var showingPlayer = true;

    var videoOptions = {
      desktopSrc: '<%= @video.desktop_src.html_safe %>',
      mobileSrc: '<%= @video.mobile_src.html_safe %>'
    };
  </script>
  <% end %>
<% end %>

<section id="content_outline">
  <%= page_header(@course, CourseHeaderPresenter) %>

  <%= video_player(@video) if @video.present? %>

  <% @course.units.each do |unit| %>
    <%= outline(unit) do |outline| %>
      <%= outline.name %>
      <%= outline.downloads(unit.downloads) %>
      <%= outline.videos(unit.videos) %>
      <%= outline.assessment %>
    <% end %>
  <% end %>
</section>
