<% content_for(:head_content) do %>
  <% if @video.present? %>
  <script>
    var showingPlayer = true;
  </script>
  <% end %>
<% end %>
<% content_for(:body_content) do %>
  <%= video_modal(@video) if @video.present? %>
<% end %>

<section id="content_outline">
  <%= page_header(@course, CourseHeaderPresenter) %>

  <% @course.units.each do |unit| %>
    <%= outline(unit) do |outline| %>
      <%= outline.name %>
      <%= outline.downloads(unit.downloads) %>
      <%= outline.videos(unit.videos) %>
      <%= outline.assessment %>
    <% end %>
  <% end %>
</section>