<div class="container">
  <header>
  </header>
  <section id="buttons">
    <h1>Buttons</h1>
    <h2>Base</h2>
      <div>
        <h3>Button</h3>
      </div>
    <h2>Rich Buttons</h2>
      <div>
        <h3>Primary Button</h3>
        <p></p>
        <%= codify do %>
        <% end %>
        <h4>Examples</h4>
        <p></p>
        <ul>
          <li></li>
        </ul>
      </div>
      <div>
        <h3>Button Group</h3>
        <p></p>
        <%= codify do %>
        <% end %>
        <h4>Examples</h4>
        <p></p>
        <ul>
          <li></li>
        </ul>
      </div>
      <div>
        <h3>Icon Button</h3>
        <p></p>
        <%= codify do %>
        <% end %>
        <h4>Examples</h4>
        <p></p>
        <ul>
          <li></li>
        </ul>
      </div>
      <div>
        <h3>Confirmable Button</h3>
        <p></p>
        <%= codify do %>
        <% end %>
        <h4>Examples</h4>
        <p></p>
        <ul>
          <li></li>
        </ul>
      </div>
      <div>
        <h3>Icon Link</h3>
        <p></p>
        <%= codify do %>
        <% end %>
        <h4>Examples</h4>
        <p></p>
        <ul>
          <li></li>
        </ul>
      </div>
  </section>
  <section id="typography">
    <h1>Typography</h1>
    <h2>Base</h2>
    <div>
      <h3>H1</h3>
      <p>The H1 tag is to be used within the masthead of every page to denote the primary heading.</p>
      <%= codify do %>
        <h1>This is an H1</h1>
      <% end %>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the H1 tag in Woople.</p>
      <ul>
        <li><a href="">The Certification Dashboard</a></li>
      </ul>
    </div>
    <div>
      <h3>H2</h3>
      <p>The H2 tag is to be used to denote a section on a page.</p>
      <%= codify do %>
        <h2>This is an H2</h2>
      <% end %>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the H2 tag in Woople.</p>
      <ul>
        <li><a href="">The Certification Dashboard</a></li>
      </ul>
    </div>
    <div>
      <h3>H3</h3>
      <p>The H3 tag is to be used to denote a subheading within a section.</p>
      <%= codify do %>
        <h3>This is an H3</h3>
      <% end %>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the H3 tag in Woople.</p>
      <ul>
        <li><a href="">The Certification Dashboard</a></li>
      </ul>
    </div>
    <div>
      <h3>P</h3>
      <p>The Paragraph tag is the basic unit of text within Woople.</p>
      <%= codify do %>
        <p>This is a P.</p>
      <% end %>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the Paragraph tag in Woople.</p>
      <ul>
        <li><a href="">The Certification Dashboard</a></li>
      </ul>
      <h3>EM</h3>
      <p>The Emphasis tag should be used sparingly to highlight a selection of text.</p>
      <%= codify do %>
        <em>This is an EM.</em>
      <% end %>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the Emphasis tag in Woople.</p>
      <ul>
        <li><a href="">The Certification Dashboard</a></li>
      </ul>
    </div>
    <h2>Email Header &amp; Footer</h2>
    <div>
      <h3>Email Header</h3>
      <p>The Email Header is used within all official Woople E-mails.</p>
      <%= codify do %>
        <img src="http://woople.com/images/email/header2.jpg" alt="Shout Woople!">
      <% end %>
      <h4>Examples</h4>
      <p>Here is an example of a Woople E-mail</p>
    </div>
    <div>
      <h3>Email Footer</h3>
      <p>The Email Footer is used within all official Woople Emails.</p>
      <%= codify do %>
        <img src="http://woople.com/images/email/footer2.jpg" alt="Powered by Woople!">
      <% end %>
      <h4>Examples</h4>
      <p>Here is an example of a Woople Email.</p>
    </div>
    <h2>Miscellaneous</h2>
    <div>
      <h3>Big Number</h3>
      <p>The Big Number class is used to callout a particular number to the user's attention.</p>
      <%= codify do %>
        <span class="big-number">43%</span>
      <% end %>
      <h4>Examples</h4>
      <p>Here is an example of how Big Number is used in Woople.</p>
      <ul>
        <li><a href="">The Certification Dashboard</a></li>
      </ul>
    </div>
  </section>
  <section id="forms">
    <h1>Forms</h1>
    <h2>Base</h2>
    <div>
      <h3>Basic Form</h3>
      <p>The Basic Form is used for typical text input.</p>
      <%= codify do %>
        <form>
          <label>Label name</label>
          <input type="text" class="span3" placeholder="Type something...">
          <span class="help-inline">Associated help text!</span>
          <label class="checkbox">
            <input type="checkbox"> Check me out
          </label>
          <button type="submit" class="btn">Submit</button>
        </form>
      <% end %>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the basic form in Woople.</p>
      <ul>
        <li><a href="">Login Page</a></li>
      </ul>
    </div>
    <div>
      <h3>Search Form</h3>
      <p>The Search Form is used for searches.</p>
      <%= codify do %>
        <form class="form-search">
          <input type="text" class="input-medium search-query">
          <button type="submit" class="btn">Search</button>
        </form>
      <% end %>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the basic form in Woople.</p>
      <ul>
        <li><a href="">Login Page</a></li>
      </ul>
    </div>
    <div>
      <h3>Inline Form</h3>
      <p>The Inline Form can be used in situations where the user is required to log in</p>
      <em>Inactive</em>
      <%= codify do %>
        <form class="form-inline">
          <input type="text" class="input-small" placeholder="Email">
          <input type="password" class="input-small" placeholder="Password">
          <button type="submit" class="btn">Go</button>
        </form>
      <% end %>
      <em>Focused</em>
      <%= codify do %>
        <form class="form-inline">
          <input type="text" class="input-small focused" placeholder="Email">
          <input type="password" class="input-small focused" placeholder="Password">
          <button type="submit" class="btn">Go</button>
        </form>
      <% end %>
      <em>Warning</em>
      <%= codify do %>
        <form class="form-inline control-group warning">
          <input type="text" class="input-small" placeholder="Email">
          <input type="password" class="input-small" placeholder="Password">
          <button type="submit" class="btn">Go</button>
        </form>
      <% end %>
      <em>Error</em>
      <%= codify do %>
        <form class="form-inline control-group error">
          <input type="text" class="input-small" placeholder="Email">
          <input type="password" class="input-small" placeholder="Password">
          <button type="submit" class="btn">Go</button>
        </form>
      <% end %>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the basic form in Woople.</p>
      <ul>
        <li><a href="">Login Page</a></li>
      </ul>
    </div>
    <h2>Help Block</h2>
    <div>
      <h3>Alert</h3>
      <p>The Alert Help Block is used to alert users about something.</p>
      <%= codify do %>
        <div class="alert-block">
          <a class="close" data-dismiss="alert">x</a>
          <h4 class="alert-heading">Alert!</h4>
          <p>Check yourself before you wreck yourself.</p>
        </div>
      <% end %>
      <h4>Use Cases</h4>
      <ul>
        <li>System Alerts and Notifications</li>
      </ul>
      <h4>Examples</h4>
      <p>Here are some examples of how we use this component in Woople.</p>
      <ul>
        <li><a href="">Woople Help</a></li>
      </ul>
    </div>
  </section>

  <footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  </footer>

</div>
