<div class="content-item row">
  <div class="content-item-image span1">
    <a href="/browse/course">
      <% images = ['course.jpeg', 'missing.png'] %>
      <%= image_tag(images.sample) %> 
    </a>
  </div>
  <div class="content-item-content span7">
    <div class="row">
      <div class="span6">
        <h2><a href="/browse/course"><%= name %></a></h2>
      </div>
    </div>

    <div class="content-item-metadata row">
      <div class="span2">
        <em class="timeRemaining"><%= "#{rand(10)}:#{10+rand(60)}" %></em> / <%= "#{rand(10)}:#{10+rand(60)}" %>
      </div>
      <div class="span2">
        <i class="icon-star"></i> <span class="popularity">212,396</span>
      </div>
      <% course_types = [nil, "Essential", "+10 pts"] %>
      <% course_type = course_types.sample %>
      <% if course_type %>
        <div class="span2">
          <span class="badge certificationValue"><%= course_type %></span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="content-item-progress-bar" style="width:<%= rand(100) %>%"></div>
</div>
