<table class="table">
  <thead>
    <tr>
      <th></th>
      <th class="string">Name</th>
      <th class="count">Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr class="<%= (completed == 0) ? 'disabled' : ''  %>">
      <td><a class="action btn btn-primary" href="#"><i class="icon-white icon-download-alt"></i></a></td>
      <td><a href="#">Reference Guide</a></td>
      <td></td>
    </tr>
    <% videos.each_with_index do |video, index| %>
      <% data_toggle = (index+1 > completed) ? '' : 'data-toggle=modal' %>

      <tr class="<%= (index+1 > completed ) ? 'disabled' : '' %>">
        <td><%= (index+2 > completed) ? '' : '✔' %></td>
        <td><a href="#myModal" <%= data_toggle %>><%= video %></a></td>
        <td><%= "#{rand(10)}:#{10+rand(60)}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

