<table class="table">
  <thead>
    <tr>
      <th></th>
      <th class="string">Name</th>
      <th class="count">Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr class="<%= (completed == 0) ? 'disabled' : ''  %>">
      <td><a class="action btn btn-primary" href="#"><i class="icon-white icon-download-alt"></i></a></td>
      <td><a href="#">Reference Guide</a></td>
      <td></td>
    </tr>
    <% videos.each_with_index do |video, index| %>
      <% url = (index+1 > completed) ? '#' : '/browse/course/video' %>

      <tr id="<%= slug %>_video_<%= index %>" class="<%= (index+1 > completed ) ? 'disabled' : '' %> <%= (index+2 > completed) ? '' : 'completed' %>">
        <td><a class="action btn btn-primary" href="<%= url %>"><i class="icon-white icon-play"></i></a> <%= (index+2 > completed) ? '' : '✔' %></td>
        <td><a href="<%= url %>" class="video_link"><%= video %></a></td>
        <td><%= "#{rand(10)}:#{10+rand(60)}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

