<table class="table">
  <thead>
    <tr>
      <th class="count">#</th>
      <th class="string">Name</th>
      <th class="count">Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr class="<%= (completed == 0) ? 'disabled' : ''  %>">
      <td><span class="index">1</span> <a class="action btn btn-primary" href="#"><i class="icon-white icon-download-alt"></i></a></td>
      <td>Reference Guide</td>
      <td></td>
    </tr>
    <% videos.each_with_index do |video, index| %>
      <tr class="<%= (index+1 > completed ) ? 'disabled' : '' %>">
        <td><span class="index"><%= 2+index %></span> <a class="action btn btn-primary" href="#"><i class="icon-white icon-play"></i></a></td>
        <td><%= video %></td>
        <td><%= "#{rand(10)}:#{10+rand(60)}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

