<% content_for(:menu_active, 'false') %>

<% content_for(:body_content) do %>
  <div id="myModal" class="modal hide" style="display: none; ">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <% video_names = ["Better Served Pleasant - (Book Of Virtues) The Rack 'Em Up Series", "Absorption Strategy", "Conversations With Paul&Chris - Chris Talks About His Grandfather"] %>
      <h3><%= video_names.sample %></h3>
    </div>
    <div class="modal-body">
      <div class="modal-video">
        <iframe src="<%= ['http://www.youtube-nocookie.com/embed/k9bRT3JrykM?rel=0'].sample %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="modal-footer">
      <div class="btn-group" data-toggle="buttons-radio">
        <button class="btn btn-primary"><i class="icon-thumbs-up"></i> Like</button>
        <button class="btn btn-primary"><i class="icon-thumbs-down"></i> Dislike</button>
      </div>
    </div>
  </div>
<% end %>

<section id="course">
  <header class="page-header">
    <%= image_tag(@images.sample) %>
    <h1><%= @course_names.sample %></h1>
    <p>Learn how to use The “O” Grid in isolation to refine your closing skills and reinforce your commitment to the customer</p>
  </header>

  <div class="outline">
    <h2>Good Hands Closing</h2>
    <%= render 'outline', slug: 'good_hands_closing', completed: 2, videos: ["Words Matter", "Absorption Strategy", "Take It In", "Restate", "Provide Assurance", "Question Up", "Relieve Pressure", "Escape Route", "Bridging", "FBV Strategy", "Minor Point Agreement", "Good Hands Closing Recap"] %>
    <p class="assessment disabled"><a>START ASSESSMENT</a></p>
  </div>

  <div class="outline">
    <h2>Specific Closing Strategies</h2>
    <%= render 'outline', slug: 'specific_closing_strategies', completed:0, videos: ["Soft Issue vs Hard Issue Objections", "Time and Distance", "Would You Expound", "Based on Your Viewpoint Sequence", "Considering for a Moment", "Feel Felt Found", "I Can Relate", "Bullet Closing Sequence 1", "Bullet Closing Sequence 2", "Bullet Closing Sequence 3"] %>
    <p class="assessment disabled"><a>START ASSESSMENT</a></p>
  </div>

  <div class="outline">
    <h2>An Interview with Paul Cummings about Closing</h2>
    <%= render 'outline', slug: 'an_interview', completed: 0, videos: ["Why Are Words Important?", "Why Is Empathy Important?", "Why Are Questions Important?", "Why Is FBV Strategy So Important?", "More on Soft vs. Hard Issue Objections", "Why Bullets?", "How Do You Master the Material?", "Favorite Closing Strategy?", "Closing Strategies Recap"] %>
    <p class="assessment disabled"><a>START ASSESSMENT</a></p>
  </div>
</section>
