<% content_for(:menu_active, 'true') %>
<style>
  h2 {
    font-weight:normal;
  }
  .course_img {
    border-radius: 5px;
  }

/*
  @media (max-width: 480px) {
    .course_img { display:none;}
  }

  @media (max-width: 768px) {
    .course_img { display:none;}
  }
*/

  @media (min-width: 1200px) {
    #browse_show .span6, #browse_show .span5 {
      margin-left: 25px;
    }
  }

  class*=['span'] {
    background:purple;
  }
</style>

<section id="browse_show">
  <header class="page-header">
    <h1>Continue Learning</h1>
    <p>what you've started but haven't finished</p>
  </header>

  <div class="row" style="display:none">
    <div class="span1" style="background:red">
      <div style="background:blue; border:solid 1px yellow; height:50px;">&nbsp;</div>
    </div>
    <div class="span1" style="background:red">
      <div style="background:blue; border:solid 1px yellow; height:50px;">&nbsp;</div>
    </div>
    <div class="span1" style="background:red">
      <div style="background:blue; border:solid 1px yellow; height:50px;">&nbsp;</div>
    </div>
    <div class="span1" style="background:red">
      <div style="background:blue; border:solid 1px yellow; height:50px;">&nbsp;</div>
    </div>
    <div class="span1" style="background:red">
      <div style="background:blue; border:solid 1px yellow; height:50px;">&nbsp;</div>
    </div>
    <div class="span1" style="background:red">
      <div style="background:blue; border:solid 1px yellow; height:50px;">&nbsp;</div>
    </div>
    <div class="span1" style="background:red">
      <div style="background:blue; border:solid 1px yellow; height:50px;">&nbsp;</div>
    </div>
    <div class="span1" style="background:red">
      <div style="background:blue; border:solid 1px yellow; height:50px;">&nbsp;</div>
    </div>
    <div class="span1" style="background:red">
      <div style="background:blue; border:solid 1px yellow; height:50px;">&nbsp;</div>
    </div>
  </div>

  <div class="course row">
    <div class="course-image span1 offset1">
      <%= image_tag('course.jpg', :class => 'course_img') %>
    </div>
    <div class="course-content span6">
      <div class="metadata">
        <a href="#"><i class="icon-ok"></i> Essential</a>
        <a href="#"><i class="icon-time"></i> 12 Minutes</a>
        <a href="#"><i class="icon-heart"></i> 212,396 Likes</a>
      </div>

      <h2><a href="">Strategies for Growing</a></h2>

      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 60%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <%= image_tag('course.jpg', :class => 'course_img') %>
    </div>
    <div class="span6">
      <div class="row">
        <div class="span6">
          <a href="#"><i class="icon-ok"></i> Essential</a>
          <a href="#"><i class="icon-time"></i> 12 Minutes</a>
          <a href="#"><i class="icon-heart"></i> 212,396 Likes</a>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h2><a href="">Strategies for Growing in the Multicultural Marketplace</a></h2>
        </div>
      </div>  
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 20%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <%= image_tag('course.jpg', :class => 'course_img') %>
    </div>
    <div class="span6">
      <div class="row">
        <div class="span6">
          <a href="#"><i class="icon-ok"></i> Elective: 5 Points</a>
          <a href="#"><i class="icon-time"></i> 12 Minutes</a>
          <a href="#"><i class="icon-heart"></i> 212,396 Likes</a>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h2><a href="">Strategies for Growing in the Multicultural Marketplace and Making Your Agency Succeed</a></h2>
        </div>
      </div>  
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 0%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Start</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <%= image_tag('course.jpg', :class => 'course_img') %>
    </div>
    <div class="span6">
      <div class="row">
        <div class="span6">
          <a href="#"><i class="icon-ok"></i> Elective: 20 Points</a>
          <a href="#"><i class="icon-time"></i> 12 Minutes</a>
          <a href="#"><i class="icon-heart"></i> 212,396 Likes</a>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h2><a href="">Strategies for Growing</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 60%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <%= image_tag('course.jpg', :class => 'course_img') %>
    </div>
    <div class="span6">
      <div class="row">
        <div class="span6">
          <a href="#"><i class="icon-ok"></i> Elective: 20 Points</a>
          <a href="#"><i class="icon-time"></i> 12 Minutes</a>
          <a href="#"><i class="icon-heart"></i> 212,396 Likes</a>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h2><a href="">Strategies for Growing in the Multicultural Marketplace</a></h2>
        </div>
      </div>  
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 20%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <%= image_tag('course.jpg', :class => 'course_img') %>
    </div>
    <div class="span6">
      <div class="row">
        <div class="span6">
          <a href="#"><i class="icon-ok"></i> Essential</a>
          <a href="#"><i class="icon-time"></i> 12 Minutes</a>
          <a href="#"><i class="icon-heart"></i> 212,396 Likes</a>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h2><a href="">Strategies for Growing in the Multicultural Marketplace and Making Your Agency Succeed</a></h2>
        </div>
      </div>  
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 80%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>



  <div class="pagination pagination-centered">
    <ul>
      <li><a href="#">Prev</a></li>
      <li class="active">
      <a href="#">1</a>
      </li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>

</section>
