<%= page_header title: assessment_form.title, description: assessment_form.description %>
<% assessment_form.render_result_status do |result| %>
  <div class="row-fluid assessment_result_status <%= cycle 'odd', 'even' %>">
    <%= content_tag(:div, result.message, class: result.classes) %>
  </div>
<% end %>

<%= form_tag(assessment_form.submit_path, method: :put, id: "assessment", class: assessment_form.css_classes) do %>
  <%= render partial: 'woople-theme/assessment_form_question', collection: assessment_form.questions %>

  <div class="fieldset <%= cycle 'odd', 'even' %>">
    <div class="row-fluid">
      <%= render partial: assessment_form.footer_partial, locals: { data: assessment_form } %>
    </div>
  </div>
  <% assessment_form.render_copyright do %>
    <p class="<%= cycle 'odd', 'even' %>"><%= assessment_form.copyright %></p>
  <% end %>

<% end %>
