<% input_id = "response_#{response_id}_index_#{assessment_form_answer.index}" %>
<label class="radio" for="<%= input_id %>">
  <input type="radio"
         id="<%= input_id %>"
         name="response[<%= response_id %>]"
         value="<%= assessment_form_answer.index %>"/>

  <%= assessment_form_answer.text %>
</label>