<div class="content-item row <%= content_item.completed %>">
  <div class="content-item-image span1">
    <a href="/course">
      <% content_item.image do |url| %>
        <%= image_tag(url) %>
      <% end %>
    </a>
  </div>
  <div class="content-item-content span7">
    <h2><a href="<%= content_item.url %>"><%= content_item.name %></a></h2>

    <div class="content-item-metadata row">
      <div class="span2">
        <em class="timeRemaining"><%= content_item.time_remaining %></em> / <%= content_item.time_total %>
      </div>
      <div class="span2">
        <i class="icon-star"></i> <span class="popularity"><%= content_item.popularity %></span>
      </div>

      <% content_item.certification_metadata do |data| %>
        <div class="span2">
          <span class="badge certificationValue"><%= data %></span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="content-item-progress-bar" style="width:<%= content_item.percent_complete %>%"></div>
</div>
