<% outline.render_assessment do |assessment_class| %>
  <div class="<%= assessment_class %>">
    <div class="front">
      <div class="assessment-pad">
        <a class="flip-action pull-right">View History</a>

        <h3><%=t('woople_theme.outline.assessment')%></h3>

        <p>
          <span class="badge"><%=t('woople_theme.outline.assessment_questions', count: assessment.questions_asked) %></span>
          <span class="badge"><%=t('woople_theme.outline.assessment_requirement', percent: assessment.pass_requirement) %></span>
          <span class="badge"><%= assessment.estimated_duration %>:00 minutes</span>
        </p>

        <!--
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">×</a>
          You failed! Please watch the <strong>Require Relearning</strong> before attempting the assessment again.
        </div>
        <h4>Required Relearning</h4>
        <% unit = random_unit %>
        <%= outline(unit) do |outline| %>
          <%= outline.videos(unit.videos) %>
        <% end %>
        -->

        <p class="assessment-start">
          <a href="#" class="btn btn-primary btn-large disabled">Start Assessment</a>
        </p>
      </div>
    </div>

    <div class="back">
      <div class="assessment-pad">
        <a class="flip-action-back pull-right">View Assessment</a>

        <h4>History</h4>
        <div class="assessment-history">
          <table class="table">
            <thead>
              <tr>
                <th style="width:50%">Date</th>
                <th style="width:50%">Score</th>
                <th class="count">Result</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Feb 01 2012</td>
                <td>0%</td>
                <td><a href="#">Fail</a></td>
              </tr>
              <tr>
                <td>Feb 01 2012</td>
                <td>0%</td>
                <td><a href="#">Fail</a></td>
              </tr>
              <tr>
                <td>Feb 01 2012</td>
                <td>0%</td>
                <td><a href="#">Fail</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
