<tr id="<%= outline_video.slug %>" class="<%= outline_video.css_class %> outline-video">
  <td class="icons">
    <%=
      link_to_if(outline_video.linkable?, outline_video.playback_icon, outline_video.url) do
        outline_video.playback_icon
      end
    %>
  </td>
  <td>
    <% if outline_video.enabled %>
    <a href="<%= outline_video.url %>" class="video_link"><%= outline_video.name %></a>
    <% outline_video.render_description do |description| %>
      <br />
      <span class="description"><%= description %></span>
    <% end %>
    <% else %>
    <%= outline_video.name %>
    <% end %>
  </td>
  <td><%= outline_video.duration %></td>
</tr>
