<% assessment.render do %>
  <div class="assessment">
    <div class="front">
      <div class="assessment-pad">
        <%= assessment.history_link_tag %>

        <h3><%=t('woople_theme.outline.assessment')%></h3>

        <p class="assessment-attributes">
          <span class="badge"><%=t('woople_theme.outline.assessment_questions', count: assessment.questions_asked) %></span>
          <span class="badge"><%=t('woople_theme.outline.assessment_requirement', percent: assessment.pass_requirement) %></span>
          <span class="badge"><%= t 'woople_theme.assessment.duration', count: assessment.estimated_duration %></span>
        </p>

        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">×</a>
          <%= t 'woople_theme.assessment.fail_html' %>
        </div>

        <% assessment.render_relearnings do %>
          <h4><%= t 'woople_theme.assessment.required_relearning' %></h4>
          <%= outline(assessment) do |outline| %>
            <%= outline.videos(assessment.relearnings) %>
          <% end %>
        <% end %>

        <p class="assessment-start">
          <%= assessment.start_button_tag %>
        </p>
      </div>
    </div>

    <div class="back">
      <div class="assessment-pad">
        <a class="flip-action-back pull-right"><%= t 'woople_theme.assessment.name' %></a>

        <h3><%= t 'woople_theme.assessment.assessment_history' %></h3>
        <div class="assessment-history">
          <table class="table">
            <thead>
              <tr>
                <th style="width:50%"><%= t 'woople_theme.assessment.date_title' %></th>
                <th><%= t 'woople_theme.assessment.score_title' %></th>
                <th class="count"><%= t 'woople_theme.assessment.result_title' %></th>
              </tr>
            </thead>
            <tbody>
              <% assessment.each_history_item do |history_item| %>
                <tr>
                  <td><%= history_item.date %></td>
                  <td><%= history_item.score %></td>
                  <td><%= link_to history_item.result_name, history_item.url %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
