<% assessment.render do %>
  <div id="assessment-<%= assessment.assessment_id %>" class="assessment">
    <div class="assessment-pad">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#assessment-details-<%= assessment.assessment_id %>" data-toggle="tab"><%=t('woople_theme.outline.assessment')%></a></li>
        <% assessment.render_history_link do %>
        <li><a href="#assessment-history-<%= assessment.assessment_id %>" data-toggle="tab"><%= t('woople_theme.assessment.history') %></a></li>
        <% end %>
      </ul>
      <div class="tab-content <%= assessment.completed_class %>">
        <div class="tab-pane active" id="assessment-details-<%= assessment.assessment_id %>">
          <p class="assessment-attributes">
            <span class="badge"><%=t('woople_theme.outline.assessment_questions', count: assessment.questions_asked) %></span>
            <span class="badge"><%=t('woople_theme.outline.assessment_requirement', percent: assessment.pass_requirement) %></span>
            <span class="badge"><%= t 'woople_theme.assessment.duration', count: assessment.estimated_duration %></span>
          </p>

          <% assessment.render_pass_fail_alert do |alert| %>
            <div class="alert <%= alert.css_class %> fade in">
              <button class="close" data-dismiss="alert">×</button>
              <strong><%= alert.heading %></strong> <a href="<%= alert.link %>"><%= alert.link_text %></a> <%= alert.message %>
            </div>
          <% end %>

          <% assessment.render_relearnings do %>
            <h4><%= t 'woople_theme.assessment.required_relearning' %></h4>
            <%= outline(assessment) do |outline| %>
              <%= outline.videos(assessment.relearnings) %>
            <% end %>
          <% end %>

          <div class="assessment-start">
            <%= form_tag assessment.url, method: :post do %>
              <%= hidden_field_tag :assessment_id, assessment.assessment_id %>
              <%= assessment.start_button_tag %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="assessment-history-<%= assessment.assessment_id %>">
          <div class="assessment-history">
            <table class="table">
              <thead>
                <tr>
                  <th style="width:50%"><%= t 'woople_theme.date_title' %></th>
                  <th><%= t 'woople_theme.assessment.score_title' %></th>
                  <th class="count"><%= t 'woople_theme.assessment.result_title' %></th>
                </tr>
              </thead>
              <tbody>
                <% assessment.each_history_item do |history_item| %>
                  <tr>
                    <td><%= history_item.date %></td>
                    <td><%= history_item.score %></td>
                    <td><%= link_to history_item.result_name, history_item.url %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
