<tr class="<%= outline_download.css_class %>">
  <% if outline_download.enabled %>
  <td>
    <a href="<%= outline_download.url %>" target="_blank" class="action btn btn-primary"><i class="icon-white icon-download-alt"></i></a></td>
  </td>
  <td>
    <a href="<%= outline_download.url %>" target="_blank"><%= outline_download.name %></a>
  </td>
  <% else %>
  <td>
    <i class="icon-white icon-download-alt"></i>
  </td>
  <td>
    <%= outline_download.name %>
  </td>
  <% end %>
  <td></td>
</tr>