<div class="profile">
  <form class="search" action="/search">
    <a href="#" class='search-page'><i class="icon-search"></i></a>
    <input name="q" type="text" class="search-query" placeholder="<%=t 'woople_theme.profile.search' %>" value="<%= params[:q] %>">
  </form>
  <ul class="nav nav-pills profile-link">
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= image_tag('woople-theme/missing-profile.png') %></a>
    <ul id="menu1" class="dropdown-menu">
      <% profile.each do |section| %>
        <% section.each do |link| %>
          <li><a href="<%= link.url %>"><%= link.name %></a></li>
        <% end %>
        <li class="divider"></li>
      <% end %>
    </ul>
    </li>
  </ul>
</div>

