<div id="myModal" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= video.name %></h3>
  </div>
  <div class="modal-body">
    <div class="modal-video">
      <div class="video-js-box modal-video-box">
        <div id="theme_video"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" data-toggle="buttons-radio">
      <button class="btn btn-like <%= video.liked_css %>">
        <i class="icon-thumbs-up"></i> <%=t 'woople_theme.video_modal.like' %>
      </button>
      <button class="btn btn-dislike <%= video.disliked_css %>">
        <i class="icon-thumbs-down"></i> <%=t 'woople_theme.video_modal.dislike' %>
      </button>
    </div>
  </div>
</div>
<%- content_for :extra_javascript do %>
<script type="text/javascript">
  jwplayer('theme_video').setup({
    'flashplayer': 'assets/player.swf',
    'id': 'playerID',
    'width': '768',
    'height': '432',
    'file': '<%= video.src %>'
  });
</script>
<% end %>
