<div id="myModal" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= video.name %></h3>
  </div>
  <div class="modal-body">
    <div class="modal-video">
      <div class="video-js-box modal-video-box">
        <video id="theme_video" class="video-js vjs-default-skin" controls preload="auto" data-setup="{}" poster="<%= asset_path('woople-theme/poster.jpg') %>">
          <source src="<%= video.src.html_safe %>" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" data-toggle="buttons-radio">
      <button class="btn btn-primary"><i class="icon-thumbs-up"></i> <%=t 'woople_theme.video_modal.like' %></button>
      <button class="btn btn-primary"><i class="icon-thumbs-down"></i> <%=t 'woople_theme.video_modal.dislike' %></button>
    </div>
  </div>
</div>

