<div class="player">
  <div class="player-header">
    <h3><%= video.name %></h3>
  </div>
  <div class="player-body">
    <div class="player-video">
      <div class="player-video-box">
        <div id="theme_video"></div>
      </div>
    </div>
  </div>
  <div class="player-footer">
    <button type="button" id="btn-favorite" class="btn <%= video.favorite_css_class %>" data-toggle="button" data-favorite-id="<%= video.favorite_id %>">
      <i class="icon-bookmark"></i>
      <%= t 'woople_theme.video_player.favorite' %>
    </button>

    <div class="likes btn-group" data-toggle="buttons-radio">
      <button class="btn btn-like <%= video.liked_css %>">
        <i class="icon-thumbs-up"></i> <%=t 'woople_theme.video_player.like' %>
      </button>
      <button class="btn btn-dislike <%= video.disliked_css %>">
        <i class="icon-thumbs-down"></i> <%=t 'woople_theme.video_player.dislike' %>
      </button>
    </div>
  </div>
</div>
