<% content_for(:menu_active, 'false') %>

<% content_for(:body_content) do %>
  <%= video_modal(@video) if @video.present? %>
<% end %>

<section id="course">
  <%= page_header(@course, CourseHeaderPresenter) %>

  <div class="outline">
    <h2>Good Hands Closing</h2>
    <%= render 'woople-theme/outline', slug: 'good_hands_closing', completed: 2, videos: ["Words Matter", "Absorption Strategy", "Take It In", "Restate", "Provide Assurance", "Question Up", "Relieve Pressure", "Escape Route", "Bridging", "FBV Strategy", "Minor Point Agreement", "Good Hands Closing Recap"] %>
    <p class="assessment disabled"><a>START ASSESSMENT</a></p>
  </div>

  <div class="outline">
    <h2>Specific Closing Strategies</h2>
    <%= render 'woople-theme/outline', slug: 'specific_closing_strategies', completed:0, videos: ["Soft Issue vs Hard Issue Objections", "Time and Distance", "Would You Expound", "Based on Your Viewpoint Sequence", "Considering for a Moment", "Feel Felt Found", "I Can Relate", "Bullet Closing Sequence 1", "Bullet Closing Sequence 2", "Bullet Closing Sequence 3"] %>
    <p class="assessment disabled"><a>START ASSESSMENT</a></p>
  </div>

  <div class="outline">
    <h2>An Interview with Paul Cummings about Closing</h2>
    <%= render 'woople-theme/outline', slug: 'an_interview', completed: 0, videos: ["Why Are Words Important?", "Why Is Empathy Important?", "Why Are Questions Important?", "Why Is FBV Strategy So Important?", "More on Soft vs. Hard Issue Objections", "Why Bullets?", "How Do You Master the Material?", "Favorite Closing Strategy?", "Closing Strategies Recap"] %>
    <p class="assessment disabled"><a>START ASSESSMENT</a></p>
  </div>
</section>
