<!DOCTYPE html>
<html>
<head>
  <title>Woople</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <%= stylesheet_link_tag    "theme", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" id="navigation">
  <div class="row">
    <a href="#" class="close">&times;</a>
    <a href="#navigation" class="navigation"><i class="icon-th-list"></i></a>

    <div id="masthead" class="span12">
      <%= image_tag('logo1.png') %>
      <div class="profile"> 
        <form class="search">
          <a href="#" class='search-page'><i class="icon-search"></i></a>
          <input type="text" class="search-query" placeholder="Search...">
        </form>
        <ul class="nav nav-pills profile-link">
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= image_tag('kitty.jpeg') %></a>
          <ul id="menu1" class="dropdown-menu">
            <li><a href="#">Account Settings</a></li>
            <li class="divider"></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Feature Requests</a></li>
            <li class="divider"></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Term of Service</a></li>
            <li><a href="#">Privacy</a></li>
            <li class="divider"></li>
            <li><a href="#">Log out</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>

    <%= render 'menu' %>

    <div class="outer-content span9">
        <div class="content">
          <ul class="breadcrumb">
            <li>
            <a href="#">Home</a> <span class="divider">/</span>
            </li>
            <li>
            <a href="#">Library</a></span>
          </li>
        </ul>

        <%= yield %>
      </div>
    </div>
  </div>
  <p class="copyright"><a href="http://woople.com">Woople</a> &copy; <%= DateTime.now.strftime("%Y") %></p>
</div>
</body>
</html>
