<!DOCTYPE html>
<html>
<head>
  <title>Woople</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <%= stylesheet_link_tag    "woople-theme/theme", :media => "all" %>
  <%= stylesheet_link_tag "theme-retina", media: 'only screen and (-webkit-min-device-pixel-ratio: 2)' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
    <%= 'var showingPlayer = true;' if @video.present? %>
  </script>

</head>
<body>
<%= yield :body_content %>

<div class="container" id="navigation">
  <div class="row">
    <a href="#" class="close-navigation close">&times;</a>
    <a href="#navigation" class="navigation"><i class="icon-th-list"></i></a>

    <div id="masthead" class="span12">
      <%= image_tag('woople-theme/logo.png', class: 'masthead-logo') %>
      <div class="profile"> 
        <form class="search">
          <a href="#" class='search-page'><i class="icon-search"></i></a>
          <input type="text" class="search-query" placeholder="Search...">
        </form>
        <ul class="nav nav-pills profile-link">
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= image_tag('woople-theme/missing-profile.png') %></a>
          <ul id="menu1" class="dropdown-menu">
            <li><a href="#">Account Settings</a></li>
            <li class="divider"></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Feature Requests</a></li>
            <li class="divider"></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Term of Service</a></li>
            <li><a href="#">Privacy</a></li>
            <li class="divider"></li>
            <li><a href="#">Log out</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>

    <%= render 'woople-theme/menu', active: yield(:menu_active) %>

    <div class="outer-content span9">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </div>
  <p class="copyright"><a href="http://woople.com">Woople</a> &copy; <%= DateTime.now.strftime("%Y") %></p>
</div>
</body>
</html>
